<div class="container">
  <h2>Informations de remise cheque</h2>
  <div class="form-container">
    <!-- <ng-container *ngIf="successMsg">
        <div class="alert alert-success" role="alert">
          {{ successMsg }}
        </div>
      </ng-container>
  
      <ng-container *ngIf="errorMsg">
        <div class="alert alert-danger" role="alert">
          {{ errorMsg }}
        </div>
      </ng-container> -->

    <form>
      <div class="form-group">
        <label> Numéro de compte récepteur </label>
        <input
          class="form-control"
          type="text"
          placeholder="Numéro de compte récepteur"
          name="codeCpte"
          [(ngModel)]="remise.codeCpte"
        />
      </div>
      <div class="form-group">
        <label> Numéro de compte client </label>
        <input
          class="form-control"
          type="text"
          placeholder="Numéro de compte client"
          name="codeCompte2"
          [(ngModel)]="remise.codeCompte2"
        />
      </div>
      <div class="form-group">
        <label> Commentaire </label>
        <textarea
          class="form-control"
          type="text"
          placeholder="Commentaire"
          name="commentaire"
          [(ngModel)]="remise.commentaire"
        ></textarea>
      </div>
      <div class="form-group">
        <label> Status </label>
        <select class="form-control" name="statut" [(ngModel)]="remise.statut">
          <option value="VALIDER">VALIDER</option>
          <option value="AWAITING">AWAITING</option>
          <option value="REJECTED">REJECTED</option>
        </select>
      </div>

      <div class="form-group">
        <label> Montant </label>
        <input
          class="form-control"
          type="text"
          placeholder="Montant"
          name="montant"
          [(ngModel)]="remise.montant"
        />
      </div>

      <div class="form-group mt-2">
        <button class="btn btn-primary" (click)="onSaveOperation()">
          Valider
        </button>
      </div>
    </form>
  </div>
</div>
