<div class="container p-5">
  <h2>PortFeuille operations</h2>

  <div class="d-flex flex-column gap-3 mt-5">
    <div class="d-flex gap-2">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
        minima quaerat error inventore?
      </p>
      <button routerLink="/virement" class="btn btn-primary">Virement</button>
    </div>
    <div class="d-flex align-items-center gap-2">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
        minima quaerat error inventore?
      </p>
      <button routerLink="/retirer" class="btn btn-danger">Retirer</button>
    </div>
    <div class="d-flex align-items-center gap-2">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
        minima quaerat error inventore?
      </p>
      <button routerLink="/versement" class="btn btn-success">Versement</button>
    </div>
    <div class="d-flex align-items-center gap-2">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat
        minima quaerat error inventore?
      </p>
      <button routerLink="/remise" class="btn btn-dark">Remise cheque</button>
    </div>
  </div>
</div>
